.book-item {
  display: flex;
  align-items: center;
  grid-gap: 0.6rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: #ffffff;
  cursor: pointer;
}

.book-list__book:hover {
  background-color: #b2741a;
}

.book-list__book:nth-child(n + 2) {
  margin-top: 0.3rem;
}

.book-item__icon {
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.book-item__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.book-item__author {
  text-transform: uppercase;
}
