.error {
  padding: 16px;
  border-radius: 4px;
  background-color: #D64E52;
  font-size: 1.6rem;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 575px) {
  .error {
    padding: 8px;
    font-size: 1.4rem;
  }
}
