@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("./fonts/roboto-v27-latin_cyrillic-300.woff2") format("woff2"),
    url("./fonts/roboto-v27-latin_cyrillic-300.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./fonts/roboto-v27-latin_cyrillic-regular.woff2") format("woff2"),
    url("./fonts/roboto-v27-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("./fonts/roboto-v27-latin_cyrillic-700.woff2") format("woff2"),
    url("./fonts/roboto-v27-latin_cyrillic-700.woff") format("woff");
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #FEF4E9;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  color: #212121;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

img {
  display: block;
}

input,
button {
  border-radius: 0;
  outline: 0;
  font: inherit;
}

a,
button {
  cursor: pointer;
}

ul {
  list-style: none;
}

.container {
  max-width: 1340px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (max-width: 1439px) {
  .container {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1279px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 576px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}

.app {
  padding: 24px 0;
}

@media screen and (max-width: 575px) {
  .app {
    padding: 16px 0;
  }
}
