.paginator {
  margin-top: 1rem;
}

.pages,
.page,
.paginator__actions,
.paginator__action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages,
.paginator__actions {
  grid-gap: 0.6rem;
}

.paginator__actions {
  display: none;
}

.page,
.paginator__action {
  width: 30px;
  height: 30px;
  border: 0;
  background-color: #00695c;
  color: #ffffff;
}

.paginator__action {
  font-size: 1.5rem;
}

.page:hover,
.paginator__action:hover {
  background-color: #004d40;
}

.page--active {
  background-color: #b2741a;
}

.page--active:hover {
  background-color: #b26a00;
}

@media (max-width: 575px) {
  .pages {
    display: none;
  }

  .paginator__actions {
    display: flex;
  }
}
