.paginator {
  margin-top: 16px;
}

.paginator__list,
.paginator__item,
.paginator__actions,
.paginator__action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator__list,
.paginator__actions {
  grid-gap: 8px;
}

.paginator__actions {
  display: none;
}

.paginator__item,
.paginator__action {
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 4px;
  background-color: #778B96;
  font-size: 1.6rem;
  color: #ffffff;
  transition: background-color 0.2s linear;
}

.paginator__action svg {
  width: 16px;
  height: 16px;
  fill: #ffffff;
}

@media (hover) {
  .paginator__item:hover,
  .paginator__action:hover {
    background-color: #435D6E;
  }
}

.paginator__item--active {
  background-color: #57483B;
  font-weight: 600;
}

@media (hover) {
  .paginator__item--active:hover {
    background-color: #57483B;
  }
}

@media (max-width: 575px) {
  .paginator__list {
    display: none;
  }

  .paginator__actions {
    display: flex;
  }
}
